<footer   style="background-color:gainsboro"
class="page-footer font-small mdb-color lighten-3 pt-4" >
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold">Our Journey</h5><br>
        <p> Car salesperson that he is a partner in herbal products business. Lynton is aware of the
            Business as he has read an article about it in the local newspaper.
             </p>
        <p></p>
        </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold">sastaaroom.pk</h5><br>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Help: </a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Patner with us: </a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Get the app: </a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Awards: </a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <h5 class="font-weight-bold">Address</h5><br>

        <ul class="list-unstyled">
          <li>
            <p>
              Skardu City, Gilgit Baltistan </p>
          </li>
          <li>
            <p>
              kh4khadimhussain@gmail.com </p>
          </li>
          <li>
            <p>
              +92344-5596587 </p>
          </li>
          <li>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <h5 class="font-weight-bold">Follow Us</h5><br>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <a href="https://www.facebook.com/sastaaroom.pk/" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>


      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3"> © 2018 Copyright:
    <a href="http://localhost:4200/"> sastaaroom.pk</a>
  </div>
</footer>