<div class="logo" style="margin-top: 100px;">
<div>
    <a href="">
     <img src='' hspace="5" width="20%"  height="20%"/>
    </a>
</div><br><br>

<div class="a">
<h1>Our Objective:</h1>
</div>
<br>

<div class="f">
<h2>
  To provide an online assistance for tourists regarding local houses,
  guest houses, hotels and picnic points in Gilgit Baltistan. 
</h2>
</div>
<br>
<div class="b">
<h1>About Sastaroom.pk:</h1><br>
</div>

<div class="g">
<h2>
  Gilgit Baltistan is hub of tourism in Pakistan, but due to lack of facilities and advancements, tourists face a lot of problems.
  The main problems are the lack of information about beautiful places and facilities. 
  People who visit Gilgit Baltistan face problems regarding residence due to the unavailability of residence to stay. 
  Local people own more than one 
  houses whereas except one the other houses remain unused.
</h2>
</div>

<div class="c">
<h2>
    Through this project we will provide online assistance for foreigners and other tourists regarding residence and tour guidance. 
    We can easily bring into use the local houses by turning them in to hotels and restaurants. 
    It will be an easy and affordable facility for tourists and will also benefit the locals. 
</h2>
</div>

<div class="d">
<h2>
    The application will be a web and mobile based which will facilitate the tourists specially.
    Through this application we will provide information about local houses, hotels, guest houses, restaurants and guidance about 
    picnic places in collaboration with other travelling companies. This application will be and easy way to rent rooms and automobiles for travel in Gilgit Baltistan. 
    This application is only for Gilgit Baltistan but in future we include Kashmir valley and enhance it all over Pakistan. 
</h2>
</div>
<br><br>