<br>
  <div class="container">
  <h1>Login Account</h1><br>
  <form name="cf" ng-controller="cfController as cfCtrl" ng-submit="submitForm(cf.$valid)" novalidate >
          
  <div class="form-group">
    <label for="name">User Name</label>
    <input id="name" type="text" name="name" required>
  </div>
          
  <div class="form-group">
    <label for="email">Pasward</label>
    <input id="email" type="email" name="email" required>
  </div>

    <input type="submit" value="Log in" ng-disabled="cf.$invalid"/>
</form>       
</div><br>